
<!-- Renders search bar -->
<%= render 'shared/navsearchbar' %>
<div container >
  <div class="col-lg-4">
    <div class="new-list" style="width: 16rem;">
      <a href="#" class="btn6">Click & Create A New List</a>
    </div>
  </div>

<%= render "shared/navsearchbar" %>
<h1>My Lists</h1>

<div class="container">
    <div class="list-grid">
        <% @lists.each do |list| %>
          <div class="card-list col-4">
            <%= link_to user_list_path(@user, list) do %>
            <div class="list-square">
                <h2><%= list.name %></h2>
            </div>
            <% end %>
            <div class="card-list-infos">
                <div>
                    <h3>Tags:</h3>
                    <p><strong><%= list.restaurants.length %></strong> Restaurants</p>
                </div>
            </div>
          </div>
        <% end %>
        <div class="card-list col-4">
            <%= link_to results_path do %>
            <div class="list-square-new">
              <h2>Add new</h2>
              <h2><i class="fas fa-plus"></i></h2>
            </div>
            <% end %>
            <div class="card-list-infos">
                <div>
                    <h3>Go search for more restaurants!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<%# <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-shop" style="width: 16rem;"> %>
