<%= render 'shared/navsearchbar' %>
<!-- Restaurants search results -->
<div class="resultcontent">
  <div class="container">
    <div class="resto-grid">
        <% @list.restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant, query: @query_value) do %>
          <div class="card-resto">
          <%= cl_image_tag restaurant.photo.key, height: 200, width: 300, crop: :fill %>
            <div>
              <h2 class="ml-2"><%= restaurant.name %></h2>
              <p>Restaurant address: <strong><%= restaurant.address %></strong></p>
              <p>Postal code: <strong><%= restaurant.postal_code %></strong></p>
              <p>Cuisine type: <strong><%= restaurant.genre %></strong></p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<!-- Side bar to add to list -->
<%= render 'shared/sidebar', restaurants: @list.restaurants %>
