<%= render 'shared/navbar' %>
<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHJlc3RhdXJhbnQlMjBzaG9wJTIwZnJvbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">
  <div class="padding-x-md padding-y-xl flex flex-center">
    <div class="text-center">
      <div class="margin-bottom-xs">
      </div>
        <%= render "shared/search" %>
    </div>
  </div>
</div>
  <h2 class='teal'>Curated Lists For The Undecided</h2>
  <p>Here's a quick search to get you started!</p>
  <%# Add quick pick list %>
  <%= render 'shared/quickpicks' %>
<hr>
<%# Foodie How-To starts here %>
  <h2 class='teal'>How To Use My Foodie List?</h2>
  <p>Some simple steps to start your food trail</p>
  <section>
  <div container>
    <div class="d-flex justify-content-flex-end">
      <div class="col-sm-6">
        <div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "searchss.png", class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag "searchss.png", class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag "searchss.png", class: 'd-block w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="fancybullet">
            <ol>
              <li>Search for your food cuisine type</li>
              <li>Add restaurant to list</li>
              <li>Register to save the restaurant to a list</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</body>
