<div data-controller="list">

  <%= render 'shared/navsearchbar' %>
  <div class="container-fluid mt-4">
    <% if @query_value == "" %>
      <div>
        <h1 class="teal">Displaying all Restaurants</h1>
        <p class="pl-2">Showing <%= @restaurants.count %> results</p>
      </div>
    <% else %>
      <div>
        <h1 class="teal">Displaying Results for <%= @query_value %></h1>
        <p class="pl-2">Showing <%= @restaurants.count %> results</p>
      </div>
    <% end %>

  <div class="d-flex justify-content-start ml-2">
    <%= simple_form_for :results, url: results_path, method: :get do |f| %>
      <input type="hidden" name="query" value="<%= @query_value %>">
      <select name="sort_by" class="btn-flat my-1">
        <option value="">Sort by</option>
        <option <%= params["sort_by"] == "name" ? "selected":"" %> value="name">Restaurant Name</option>
        <option <%= params["sort_by"] == "genre" ? "selected":"" %> value="genre">Cuisine Type</option>
        <option <%= params["sort_by"] == "avg_rating" ? "selected":"" %> value="avg_rating">Average Rating</option>
      </select>
      <select name="sort_order" class="btn-flat my-1">
        <option value="">Order</option>
        <option <%= params["sort_order"] == "asc" ? "selected":"" %> value="asc">Ascending</option>
        <option <%= params["sort_order"] == "desc" ? "selected":"" %> value="desc">Descending</option>
      </select>
      <input type="text" name="filter_by" placeholder="<%= params["filter_by"] ? "#{params["filter_by"]}" : "Filter" %>" class="btn-flat my-1">
      <button class="btn btn-flat ml-2" type="submit">Reorganize Results</button>
    <% end %>
  </div>

  <!-- Restaurants search results -->
  <div class="container">

    <div class="resto-grid position-absolute">
      <% @restaurants.each do |restaurant| %>
          <div class="card-resto">
          <!-- begin inner container -->
            <div class="p-3">
              <h2 class="text-left rest-name"><u><%= restaurant.name.first(60) %></u></h2>
            <!-- begins contains image and desc -->
              <div class="d-flex">
                <!-- Image -->
                <%= cl_image_tag(restaurant.photo.key, :transformation=>[
                  {height: 160, width: 240, crop: :fill},
                  {:radius=>12}]) %>

                <!-- Restaurant Info -->
                <div class="ml-4">
                  <div>
                    <p class="pl-2">Address: <strong><%= restaurant.address %></strong></p>
                    <p class="pl-2">Postal code: <strong><%= restaurant.postal_code %></strong></p>
                    <p class="pl-2">Cuisine type: <strong><%= restaurant.genre %></strong></p>
                    <p class="pl-2">Average rating: <strong><%= restaurant.avg_rating %>/5.0</strong></p>
                    <p class="pl-2">Tags:
                      <% if restaurant.tag_names.empty? %>
                        <strong><%= "None" %></strong>
                      <% else %>
                        <strong><%= restaurant.tag_names.sample(2).join(', ') %> ...</strong>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <!-- end of image and desc div -->

            <!-- begins contains two links -->
              <div class="img-info p-2 rest-info">
                <div id="copy-button" class="btn border btn-flat">
                  <div class="fas fa-info-circle">
                    <%= link_to "See Details", restaurant_path(restaurant, query: @query_value) %>
                  </div>
                </div>
              <!-- "Plus Button" -->
                <div id="copy-button" class="btn border btn-flat">
                  <div  class="fas fa-plus add-to-list"
                        data-restaurant-id=<%=restaurant.id%>
                        data-restaurant-name="<%=restaurant.name%>">
                    <%= link_to "Add to List" %>
                  </div>
                </div>
              <!-- end of plus button -->
              </div>
            <!-- end of two links -->
            </div>
          </div>
        <% end %>
    </div>
    <!-- End of cards grid -->
  </div>
  <!-- End of card container -->
  <!-- Side bar to add to list -->
    <%= render 'shared/sidebar', restaurants: @restaurants %>
</div>
