<h1>Search Result</h1>

<div class="container">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="card-resto mx-auto">
        <img src="https://source.unsplash.com/400x250/?restaurant" />
          <%# raise %>
          <div>
            <h2 class="ml-2"><%= restaurant.name %></h2>
            <p>Restaurant address: <strong><%= restaurant.address %></strong></p>
            <p>Postal code: <strong><%= restaurant.postal_code %></strong></p>
            <p>Cuisine type: <strong><%= restaurant.genre %></strong></p>
            <%# <%= link_to "Add a review", new_shop_review_path(shop) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
