<div data-controller="list">
  <%= render 'shared/navsearchbar' %>
  <div class="container-fluid">
    <% if @query_value == "" %>
      <h1>Displaying all Restaurants</h1>
    <% else %>
      <h1>Displaying Results for <%= @query_value %></h1>
    <% end %>
    <div class="d-flex justify-content-start">
        <%= simple_form_for :results, url: results_path, method: :get do |f| %>
          <input type="hidden" name="query" value="<%= @query_value %>">
          <select name="sort_by" class="btn-flat my-1">
            <option value="">Sort by</option>
            <option <%= params["sort_by"] == "name" ? "selected":"" %> value="name">Restaurant Name</option>
            <option <%= params["sort_by"] == "genre" ? "selected":"" %> value="genre">Cuisine Type</option>
            <option <%= params["sort_by"] == "avg_rating" ? "selected":"" %> value="avg_rating">Average Rating</option>
          </select>
          <select name="sort_order" class="btn-flat my-1">
            <option value="">Order</option>
            <option <%= params["sort_order"] == "asc" ? "selected":"" %> value="asc">Ascending</option>
            <option <%= params["sort_order"] == "desc" ? "selected":"" %> value="desc">Descending</option>
          </select>
          <input type="text" name="filter_by" placeholder="<%= params["filter_by"] ? "#{params["filter_by"]}" : "Filter" %>" class="btn-flat my-1">
          <button class="btn btn-flat my-1" type="submit">Reorganize Results</button>
        <% end %>
    </div>
  </div>

  <!-- Restaurants search results -->
  <div class="container">

    <div class="resto-grid">
      <% @restaurants.each do |restaurant| %>
          <div class="card-resto">
          <!-- begin inner container -->
            <div class="p-3">
            <!-- begins contains image and desc -->
              <div class="d-flex">
                <!-- Image -->
                <%= cl_image_tag restaurant.photo.key, height: 240, width: 320, crop: :fill %>
                <!-- Restaurant Info -->
                <div class="ml-4">
                  <div>
                    <h2><%= restaurant.name %></h2>
                    <p>Address: <strong><%= restaurant.address %></strong></p>
                    <p>Postal code: <strong><%= restaurant.postal_code %></strong></p>
                    <p>Cuisine type: <strong><%= restaurant.genre %></strong></p>
                    <p>Average rating: <strong><%= restaurant.avg_rating %>/5.0</strong></p>
                    <p>Tags:
                      <% if restaurant.tag_names.empty? %>
                        <strong><%= "None" %></strong>
                      <% else %>
                        <strong><%= restaurant.tag_names.sample(2).join(', ') %> ...</strong>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            <!-- end of image and desc div -->

            <!-- begins contains two links -->
              <div class="d-flex justify-content-around align-content-center flex-wrap m-3">
                <div class="btn btn-outline-primary">
                  <div class="fas fa-laptop">
                    <%= link_to "See Details", restaurant_path(restaurant, query: @query_value) %>
                  </div>
                </div>
              <!-- "Plus Button" -->
                <div class="btn btn-outline-primary">
                  <div  class="fas fa-plus add-to-list"
                        data-restaurant-id=<%=restaurant.id%>
                        data-restaurant-name="<%=restaurant.name%>">
                    <%= link_to "Add to List" %>
                  </div>
                </div>
              <!-- end of plus button -->
              </div>
            <!-- end of two links -->
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <!-- Side bar to add to list -->
  <%= render 'shared/sidebar', restaurants: @restaurants %>
</div>
