<%= stylesheet_pack_tag 'application' %>
<%= render 'shared/navsearchbar' %>

<h1><%= @restaurant.name %></h1>

<!-- Start Main-Body -->
<div class="container mt-4">
  <!-- Start Row 1 -->
  <div class="row">
    <!-- Start Photo-and-Details (Section 1) -->
    <div class="col-8 shadow bg-white d-flex justify-content-start resto-section-1 mb-4 mr-2">
      <!-- Start Photo-->
      <%= cl_image_tag @restaurant.photo.key, height: 300, width: 500 %>
      <!-- End Photo -->
      <!-- Start Details -->
      <div class="resto-details d-flex justify-content-center">
        <p>Address: <strong><%= @restaurant.address %></strong></p>
        <p>Postal code: <strong><%= @restaurant.postal_code %></strong></p>
        <p>Cuisine type: <strong><%= @restaurant.genre %></strong></p>
        <p>Average rating: <strong><%= @restaurant.avg_rating %>/5.0</strong></p>
      </div>
      <!-- End Details -->
    </div>
    <!-- End Photo-and-Details (Section 1) -->

    <!--  Start Switchboard (Section 2) -->
    <div id="card-bg" class="col-3 shadow bg-white d-flex justify-content-around resto-section-2 mb-4 mr-2">
      <!-- User logged in -->
      <% if current_user %>
        <!-- Start Mark-as-explored -->
        <% if current_user.explores.one? { |explored| explored.restaurant == @restaurant } %>
          <div>
            <button type="button" class="btn btn-flat-reverse" disabled>Explored!</button>
          </div>
        <% else %>
          <div class="d-flex justfy-content-end my-2">
            <%= simple_form_for [@restaurant, @explore], html: {class: 'form-inline explore-form'} do |f| %>
            <%= f.input :explored %>
            <% f.association :user %>
            <%= f.submit "Mark it!", class: "btn btn-flat" %>
            <% end %>
          </div>
        <% end %>
        <!-- End Mark-as-explored -->
        <!-- Start Calendar -->
        <%= simple_form_for [@restaurant, @calendar], html: {class: 'form-inline schedule-form'} do |f| %>
          <input type="hidden" name="restaurant" value="<%= @restaurant %>">
          <%= f.input :scheduled_date, html5: true, label: false %>
          <%= f.button :submit, value: "Schedule a visit", class: 'btn btn-flat' %>
        <% end %>
        <!-- End Calendar -->
      <% end %>

      <!-- Start Dropdown-add-to-list -->
      <!-- User logged in -->
      <% if current_user %>
        <button
                class="btn btn-flat dropdown-toggle"
                type="button"
                id="drop-down"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Save restaurant to your list
        </button>
        <div class="dropdown-menu" aria-labelledby="drop-down">
              <% user_lists = current_user.lists %>
              <%- if user_lists.empty? %>
                  <%= link_to "Create new list", new_user_list_path(current_user), class:"dropdown-item" %>
              <% else %>
                  <% user_lists.each do |list| %>
                    <%- if list.restaurants.include?(@restaurant)%>
                      <%= link_to user_list_path(current_user, list, restaurant: @restaurant, query: @query), method: :patch, class:"dropdown-item" do %>
                        <%= list.name %>  <i class="far fa-check-circle"></i>
                      <% end %>
                    <% else %>
                      <%= link_to list.name, user_list_path(current_user, list, restaurant: @restaurant, query: @query), method: :patch, class:"dropdown-item" %>
                    <% end %>
                  <% end %>
              <% end %>
        </div>
      <!-- User not logged in -->
      <% else %>
        <button
              class="btn btn-flat dropdown-toggle"
              type="button"
              id="drop-down"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              Register to continue!
        </button>
        <div class="dropdown-menu" aria-labelledby="drop-down">
          <button
                type="button"
                class="dropdown-item"
                data-toggle="modal"
                data-target="#exampleModalB">
                Log in
          </button>
          <button
                type="button"
                class="dropdown-item"
                data-toggle="modal"
                data-target="#exampleModalA">
                Sign up
          </button>
        </div>
      <% end %>
      <!-- End Dropdown-add-to-list -->
    </div>
    <!-- End Switchboard (Section 2) -->
  </div>
  <!-- End Row 1 -->

  <!-- Start Row 2 -->
  <div class="row">
    <!-- Start Tags (Section 3) -->
    <div id="card-bg-long" class="col-11 shadow bg-white d-flex -center resto-section-3 mb-4 ml-2">
      <!-- Start Tags-Wrapper -->
      <div class="resto-tags">
        <!-- Start Tags-Display -->
        <div class="d-flex tags-display">
          <h5 class="mr-4">Tags: </h5>
          <ul class="tags">
          <% tags_array = @restaurant.tags.last(5) %>
          <% tags_array.each do |tag| %>
            <li class="resto-onetag">
              <a href="#" class="tag"><%= tag.name %></a>
              <a class="delete" href="#"><i class="fa fa-times"></i></a>
            </li>
          <% end %>
          </ul>
        </div>
        <!-- End Tags-Display -->
        <!-- Start Tags-Form -->
        <!-- div class="d-flex" -->
          <%#= simple_form_for [@restaurant, @tag], html: { class: "form-inline tags-form"} do |f| %>
            <!-- Add a new tag: -->
            <%#= f.input :name, label: false %>
            <%# f.association :user %>
            <%#= f.submit "Submit", class: "btn btn-flat" %>
          <%# end %>
        <!-- div -->
        <!-- End Tags-Form -->
      </div>
      <!-- End Tags-Wrapper -->
    </div>
    <!-- End Tags (Section 3) -->
  </div>
  <!-- End Row 2 -->

  <!-- Start Row 3 -->
  <div class="row">

  </div>
  <!-- End Row 3 -->

  <!-- Start Row 4 -->
  <h4> Reviews from other Foodies:</h4>
  <div class="row review-list">
    <!-- Start Reviews-Cards -->
    <% rest_array = @restaurant.reviews.last(3) %>
    <% rest_array.each do |review| %>
        <div class="review">
          <div class="d-flex justify-content-start">
            <p>Written by:<%= review.user.username %></p>
          </div>
          <div class="d-flex justify-content-start">
            <p>Rating given: <%= review.rating %></p>
          </div>
          <div class="list-review-content"><%= review.content %></div>
        </div>
    <% end %>
    <!-- End Reviews-Cards -->
  </div>
  <!-- End Row 4 -->

  <!-- Start Row 5 -->
  <div class="row">
    <!-- Start Review-Form -->
      <%= simple_form_for [@restaurant, @review], html: {class: "review-form col-11"} do |f| %>
          <div class="review-input">
            <%= f.input :content, placeholder: "Add your review:", label: false %>
          </div>
          <div class="review-input">
            <%= f.input :rating, collection: @drop_down, selected: "Rate your experience", label: false, input_html: {placeholder: "Rate your experience"} %>
          </div>
            <% f.association :user %>
          <div class="d-flex align-self-center">
            <%- if current_user %>
            <%= f.submit "Submit review", class: "btn btn-flat ml-2" %>
            <%#= link_to "My lists", user_lists_path(current_user), class: "btn btn-success"%>
            <% else %>
            <%= link_to "Back to search", results_path(query: params[:query]), class: "btn btn-flat-reverse ml-2" %>
            <p class="alert-main">Please log in or sign up to submit a review.</p>
            <% end %>
          </div>

      <% end %>
    </div>
    <!-- End Review-Form -->
  </div>
  <!-- End Row 5 -->

</div>
<!-- End Main Body -->
