<%= render 'shared/navsearchbar' %>
<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
    <h1><%= @restaurant.name %></h1>
    <button class="btn btn-info">Favorite!</button>
  </div>

    <p>Average rating: <%= @restaurant.avg_rating %>/5.0</p>
    <img src="https://source.unsplash.com/1120x600/?restaurant" />

  <div class="d-flex justify-content-between">
    <p>Address: <strong><%= @restaurant.address %></strong></p>
    <p>Postal code: <strong><%= @restaurant.postal_code %></strong></p>
    <p>Cuisine type: <strong><%= @restaurant.genre %></strong></p>
    <p>insert: #tags #tags #tags here</p>
  </div>
  <div class="d-flex justify-content-between">
    <h3><%= @restaurant.name %> Reviews:</h3>
    <div class="d-flex justify-content-end">
      <button class="btn btn-warning dropdown-toggle mb-3" type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Save restaurant to your list
      </button>
      <div class="dropdown-menu" aria-labelledby="drop-down">
        <a class="dropdown-item" href="#">Saved list 1</a>
        <a class="dropdown-item" href="#">Saved list 2</a>
        <a class="dropdown-item" href="#">Saved list 3</a>
        <a class="dropdown-item" href="#">Saved list 4</a>
      </div>
    </div>
  </div>

  <ul class="list-review">
    <% rest_array = @restaurant.reviews.last(3) %>
      <% rest_array.each do |review| %>
      <div>
        <li class="list-review-content"><%= review.content %></li>
        <div class="d-flex justify-content-end">
          <p>Written by: <%= review.user.username %></p>
        </div>
      </div>
      <% end  %>
  </ul>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, label: "Add your review:" %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
    <%= f.association :user %>
    <%= f.submit "Submit review", class: "btn btn-info" %>
    <%= link_to "Back to search", results_path(query: @query), class: "btn btn-secondary" %>
  <% end %>
</div>
