<%= render 'shared/navsearchbar' %>

<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
    <h1><%= @restaurant.name %></h1>
    <button class="btn btn-info">Favorite!</button>
  </div>

  <div class="d-flex justify-content-between">
    <p>Average rating: <%= @restaurant.avg_rating %>/5.0</p>

    <div class="d-flex">
      <h4 class="mr-4">Tag: </h4>
        <ul class="tags">
          <% tags_array = @restaurant.tags.last(5) %>
          <% tags_array.each do |tag| %>
          <li><a href="#" class="tag"><%= tag.name %></a>
          <a class="delete" href="#"><i class="fa fa-times"></i></a>
          </li>

          <% end %>
        </ul>
    </div>
  </div>
    <%= simple_form_for [@restaurant, @tag] do |f| %>
      <%= f.input :name, label: "Name your tag:" %>
      <% f.association :user %>
      <%= f.submit "Submit", class: "btn btn-info" %>
    <% end %>

          <!-- User logged in -->
          <%# if current_user %>
          <%# end  %>
            <%# <button class="btn btn-warning mb-3">
              <%= link_to "Add a tag", new_tag_path(@restaurant) %>
            <%# </button>%>
    <img src="https://source.unsplash.com/1120x600/?restaurant" />

  <div class="d-flex justify-content-between">
    <p>Address: <strong><%= @restaurant.address %></strong></p>
    <p>Postal code: <strong><%= @restaurant.postal_code %></strong></p>
    <p>Cuisine type: <strong><%= @restaurant.genre %></strong></p>
  </div>
  <div class="d-flex justify-content-between">
    <h3><%= @restaurant.name %> Reviews:</h3>
    <div class="d-flex justify-content-end">
      <!-- User logged in -->
      <%- if current_user %>
        <button class="btn btn-warning dropdown-toggle mb-3" type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Save restaurant to your list
        </button>
        <div class="dropdown-menu" aria-labelledby="drop-down">
          <% user_lists = current_user.lists %>
          <%- if user_lists.empty? %>
            <%= link_to "Create new list", new_user_list_path(current_user), class:"dropdown-item" %>
          <% else %>
            <% user_lists.each do |list| %>
              <%- if list.restaurants.include?(@restaurant)%>
                <%= link_to user_list_path(current_user, list, restaurant: @restaurant, query: @query), method: :patch, class:"dropdown-item" do %>
                  <%= list.name %> <i class="far fa-check-circle"></i>
                <% end %>
              <% else %>
                <%= link_to list.name, user_list_path(current_user, list, restaurant: @restaurant, query: @query), method: :patch, class:"dropdown-item" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <!-- User not logged in -->
      <% else %>
        <button class="btn btn-warning dropdown-toggle mb-3" type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Log in / Sign up and get to your list!
        </button>
        <div class="dropdown-menu" aria-labelledby="drop-down">
          <button
                    type="button"
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#exampleModalB">
                    Log in
          </button>
          <button
                    type="button"
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#exampleModalA">
                    Sign up
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <ul class="list-review">
    <% rest_array = @restaurant.reviews.last(3) %>
      <% rest_array.each do |review| %>
      <div>
        <li class="list-review-content"><%= review.content %></li>
        <div class="d-flex justify-content-end">
          <p>Written by: <%= review.user.username %></p>
        </div>
      </div>
      <% end  %>
  </ul>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content, label: "Add your review:" %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
    <% f.association :user %>
    <%- if current_user %>
      <%= f.submit "Submit review", class: "btn btn-info" %>
      <%= link_to "My lists", user_lists_path(current_user), class: "btn btn-success" %>
    <% else %>
      <%= link_to "Back to search", results_path(query: @query), class: "btn btn-secondary" %>
      <p class="alert-main">Please log in or sign up to submit a review.</p>
    <% end %>
  <% end %>
</div>
