<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h1><%= @restaurant.name %></h1>
    <button class="btn btn-info">Favorite!</button>
  </div>
    <img src="https://source.unsplash.com/1120x600/?restaurant" />
  <div class="d-flex justify-content-between">
    <p>Address: <strong><%= @restaurant.address %></strong></p>
    <p>Postal code: <strong><%= @restaurant.postal_code %></strong></p>
    <p>Cuisine type: <strong><%= @restaurant.genre %></strong></p>
    <p>insert: #tags #tags #tags here</p>
  </div>
  <div class="d-flex justify-content-between">
    <h3><%= @restaurant.name %> Reviews:</h3>
    <h3>Average rating: `insert rating here`</h3>
  </div>


  <ul>
    <li>review 1</li>
    <li>review 2</li>
    <li>review 3</li>
  </ul>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Save restaurant to your list
    </button>
    <div class="dropdown-menu" aria-labelledby="drop-down">
      <a class="dropdown-item" href="#">Saved list 1</a>
      <a class="dropdown-item" href="#">Saved list 2</a>
      <a class="dropdown-item" href="#">Saved list 3</a>
      <a class="dropdown-item" href="#">Saved list 4</a>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "Back to search", results_path %>
  </div>
</div>
