<!DOCTYPE html>
<html>
    <head>
        <title>My Foodie List - Restaurant Orientated Food List Maker</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
        'reload' %>

        <meta name="description" content="My Foodie List provides a quick and easy way to search STB's recommended restaurants in Singapore, create list, save it and share list via a link.">
        <%= favicon_link_tag asset_path('favicon.ico') %>
        <%# <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/> %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    </head>
    <body>
      <%= yield %>
    </body>
</html>
